<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>

  <appSettings>

    <add key="HORA_INICIO" value="08:00"/>
    <add key="HORA_FIN" value="21:00"/>
    <add key="INTERVALO_EJECUCION" value="1"/>

    <!-- S66587: Parametros BASE DE DATOS-->
    <add key="APOM_SERVER" value="DEVSSD01"/>
    <add key="APOM_BD" value="APOM"/>
    <add key="APOM_USUARIO" value="UsrBD_APOM"/>
    <add key="APOM_PASSWORD" value="062F098690CC54DA7DA68298"/>

    <add key="REPEXT_SERVER" value="DEVDBR00"/>
    <add key="REPEXT_BD" value="RepExt"/>
    <add key="REPEXT_USUARIO" value="UsrBD_APOM"/>
    <add key="REPEXT_PASSWORD" value="033D08B7A3FC67EE03D9"/>

    <!--<add key="SMART_SERVER" value="DEVSST01"/>-->
    <add key="SMART_SERVER" value="DEVDBS08"/>
    <add key="SMART_BD" value="DBSjepc"/>
    <add key="SMART_USUARIO" value="UsrBD_APOM"/>
    <add key="SMART_PASSWORD" value="062F098690CC54DA7DA68298"/>
    <!-- <add key="SMART_PASSWORD" value="033D08B7A3FC67EE03D9"/>-->
    <!-- S66587: FIN Parametros BASE DE DATOS-->


    <!-- S66587:Parametros contabilidad-->
    <add key="ESQUEMA_COMISION" value="COMISIONES"/>
    <add key="ESQUEMA_COM_TRANS" value="COM_TRANS"/>
    <add key="ESQUEMA_COM_CART_ORD" value="COM_CARTA_ORDEN"/>
    <add key="ESQUEMA_TRANSFERENCIA" value="TRANSFERENCIA"/>

    <add key="CUENTA_COMISION" value="541052000006"/>
    <add key="CUENTA_COM_TRANS" value="541052000002"/>
    <add key="CUENTA_COM_CART_ORD" value="541991000065"/>
	<add key="CUENTA_COM_CRIPTO" value="541991000065"/>

	  <!-- bc2385:Parametro contabilidad Our Peru-->
    <add key="COMIS_OUR_PERU" value="15.00"/>
    <add key="ESQUEMA_COMISION_PERU" value="COM_PERU"/>
  
    <!-- S66587: Parametros contabilidad-->



    <!-- S66587: INICIO LOGS-->
    <add key="DirecDailyLogs" value="c:\\Log_ApomContaApomEnviada/${shortdate}/${shortdate}"/>
    <add key="LayoutNlog" value="${longdate} ${logger} ${message}"/>
    <add key="DETALLE_LOG" value="ON"/>
    <add key="SERVIDOR_SMTP" value="btbexc00"/>
    <add key="CABECERA_ERROR" value="Se produjo un error en el servicio Contabilidad Apom Enviada"/>
    <add key="CORREO_OPERACIONES" value="efernandezm@bcp.com.bo"/>
    <add key="CORREO_APLICATIVO" value="ApomContaEnviada@bancred.com.bo"/>
    <add key="ASUNTO" value="Error Servicio APOM Contabilidad Enviada"/>
    <add key="CUERPOCORREO" value="Se Genero un error en el Proceso: "/>
    <add key="webpages:Version" value="2.0.0.0"/>
    <add key="webpages:Enabled" value="false"/>
    <add key="PreserveLoginUrl" value="true"/>
    <add key="ClientValidationEnabled" value="true"/>
    <add key="UnobtrusiveJavaScriptEnabled" value="true"/>
    <add key="FlagTLS" value="2"/>
  </appSettings>


  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_ISrvSLK">
          <security mode="Transport">
            <transport clientCredentialType="None"/>
          </security>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="https://btbslk02.bancred.com.bo/WCFServiceSLKSecure/SrvSLK.svc" binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_ISrvSLK" contract="SrvSLK.ISrvSLK" name="WSHttpBinding_ISrvSLK"/>
    </client>
  </system.serviceModel>
  
</configuration>
